:root {
	--color-white: white;
	--color-blue: #09458E;
	--color-off-white: #E7EDF4;	
	--color-black: #000000;
	--color-blue-light: #09458e;
}

/* Dans le cas où on implémente le Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
	}
}

@font-face {
	font-family: 'Fellix';
	src: url('./fonts/Fellix-Regular.ttf');
}

* {
	margin: 0;
	font-family:
		Fellix;
	font-weight: normal;
	box-sizing: border-box;
}

.button-border-blue {
	border-radius: 5px;
	width: 250px;
	height: 58px;
	border: 3px solid var(--color-blue);
	background: var(--color-white);
	color: var(--color-black);
}

.bold {
	font-weight: 700;
}

.blue-text {
	color: var(--color-blue);
}