:root {
	--color-white: white;
	--color-blue: #09458E;
	--color-off-white: #E7EDF4;	
	--color-black: #000000;
}

/* Dans le cas où on implémente le Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
	}
}

@font-face {
	font-family: 'Fellix';
	src: url('./fonts/Fellix-Medium.ttf');
}

* {
	margin: 0;
	font-family:
		Fellix;
	font-weight: normal;
	box-sizing: border-box;
}

.button-border-blue {
	border-radius: 5px;
	font-size: 21px;
	width: 250px;
	height: 58px;
	border: 3px solid var(--color-blue);
	background: var(--color-white);
	color: var(--color-black);
}

.input-gris {
	color: var(--color-black);
	background-color: var(--color-off-white);
	width: 100%;
	height: 58px;
	border-radius: 5px;
	border: 2px solid var(--color-off-white);
	outline: none;
	transition: border-color 0.3s ease-in-out;
}

.input-blanc {
	color: var(--color-black);
	background-color: white;
	width: 100%;
	height: 58px;
	border-radius: 5px;
	border: 2px solid white;
	outline: none;
	transition: border-color 0.3s ease-in-out;
}

.input-gris:hover,
.input-blanc:hover {
    border-color: var(--color-blue);
}

.input-gris:focus,
.input-blanc:focus {
    border-color: var(--color-blue);
}

.bold {
	font-weight: 700;
}

.blue-text {
	color: var(--color-blue);
}

.button-off-white {
	color: #09458E;
	font-size: 23px;
	width: 250px;
	height: 58px;
	border: 0px solid #E7EDF4;
	border-radius: 22px;
	padding: 15px;
}

.search-barre {
	border-radius: 50px;
	background: var(--color-off-white);
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0px 20px;
	gap: 10px;
}

.input-search {
	background: var(--color-off-white);
	border: none;
	font-size: 16px;
	outline: none;
	caret-color: var(--color-blue);
	color: var(--color-blue);
}

.input-search::placeholder {
	color: rgba(9, 69, 142, 0.60);
	font-weight: 600;
}

.title-publier {
	font-size: 25px;
	color: var(--color-blue);
}

.separate {
	width: 100%;
	height: 2px;
	border-radius: 50%;
	background-color: #D9D9D9;
}